<div class="row">
  <div class="col-md-6">
    <mat-card>
      <mat-card-header>
      <mat-card-title>
        Patient List
      </mat-card-title>
    </mat-card-header>
      <div class="search-container">
        <mat-form-field [floatLabel]="getFloatLabelValue()" class="search-input">
          <mat-label>Search Patients...</mat-label>
          <input matInput placeholder="Patient Name" [(ngModel)]="searchQuery" (keyup.enter)="onSearch()">
        </mat-form-field>
        <button mat-icon-button class="search-button" (click)="onSearch()">
          <mat-icon>search</mat-icon>
        </button>
      </div>
      <mat-card-content>
        <mat-nav-list role="list">
          <ng-container *ngFor="let patient of patients; let last = last">
            <mat-list-item
              role="listitem"
              (click)="selectPatient(patient)"
               [ngClass]="{ 'selected-item': selectedPatient && selectedPatient.id === patient.id }"
            >
              {{ patient.firstName }} {{ patient.lastName }}
            </mat-list-item>
            <!-- Add a mat-divider except for the last item -->
            <mat-divider *ngIf="!last"></mat-divider>
          </ng-container>
        </mat-nav-list>
        <button mat-raised-button color="primary" class="btn btn-primary" (click)="onAdd()" [disabled]="addButtonClicked">Add</button>
      </mat-card-content>
      <mat-paginator
      [length]="totalPatients"
      [pageSize]="pageSize"
      [pageSizeOptions]="[7]"
      (page)="onPageChange($event)"></mat-paginator>
    </mat-card>

  </div>
  <div class="col-md-6">
    <app-patient-edit [patient]="selectedPatient" [createdNew]="createdNew" (changesSaved)="refreshPatientList()"></app-patient-edit>
  </div>
</div>

<mat-divider></mat-divider>
<mat-divider></mat-divider>
<mat-divider></mat-divider>


<!--
<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">Patient List</div>
      <div class="row mt-4">
        <div class="col-md-6">
          <div class="input-group">
            <input type="text" class="form-control" [(ngModel)]="searchQuery" placeholder="Search patients..." (keyup.enter)="onSearch()">
            <div class="input-group-append">
              <button mat-raised-button color="primary"class="btn btn-primary" (click)="onSearch()">Search</button>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <nav aria-label="Patient pagination">
            <ul class="pagination justify-content-end">
              <li class="page-item" [class.disabled]="currentPage === 1">
                <a class="page-link" (click)="onPageChange(currentPage - 1)" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              <li class="page-item" *ngFor="let page of getPaginationArray()" [class.active]="currentPage === page">
                <a class="page-link" (click)="onPageChange(page)">{{ page }}</a>
              </li>
              <li class="page-item" [class.disabled]="currentPage === getPaginationArray().length">
                <a class="page-link" (click)="onPageChange(currentPage + 1)" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <ul class="list-group list-group-flush">
        <li
          class="list-group-item"
          *ngFor="let patient of patients"
          (click)="selectPatient(patient)"
          [class.active]="selectedPatient && selectedPatient.id === patient.id"
        >
          {{ patient.firstName }} {{ patient.lastName }}
        </li>
      </ul>
      <div class="col-md-4">
      <button mat-raised-button color="primary" class="btn btn-primary" (click)="onAdd()" [disabled]="addButtonClicked">Add</button>
    </div>
    </div>
  </div>
  <div class="col-md-6">
    <app-patient-edit [patient]="selectedPatient" [createdNew]="createdNew" (changesSaved)="refreshPatientList()"></app-patient-edit>
  </div>
</div>
<hr>-->
<div class="row">
  <div class="col-md-12">
    <app-patient-appointment-list
      *ngIf="selectedPatient && selectedPatient.id !== undefined"
      [patientId]="selectedPatient.id"
    ></app-patient-appointment-list>
  </div>
</div>

