
<div class="row">
  <div class="col-md-6">
    <mat-card>
      <mat-card-header>
      <mat-card-title>Patient Appointments</mat-card-title>
    </mat-card-header>
        <mat-card-content>
          <mat-nav-list role="list">
            <ng-container *ngFor="let appointment of appointments; let last = last">
              <mat-list-item
              role="listitem"
              (click)="selectAppointment(appointment)"
               [ngClass]="{ 'selected-item': selectedAppointement && selectedAppointement.id === appointment.id }"
            >
            {{ formatDate(appointment.date) }}  |  {{appointment.serviceRendered}}
            </mat-list-item>
            </ng-container>
            </mat-nav-list>
            <button mat-raised-button color="primary" class="btn btn-primary" (click)="onAdd()" [disabled]="addButtonClicked">Add</button>
        </mat-card-content>
      </mat-card>
  </div>
  <div class="col-md-6" >
      <app-patient-appointment-edit
      *ngIf="selectedAppointement"
        [appointment]="selectedAppointement"[createdNew]="createdNew"[patientId]="patientId"(changesSaved)="refreshAppointmentList()"
      ></app-patient-appointment-edit>
  </div>
</div>





